<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Produto do Estoque</h1>

    <form action="cadastro">

        <label for="cod_prod" id="cod_prod">Código do Produto</label><br>
        <input type="text" name="cod_prod" id="cod_prod"><br>
        
        <label for="nome_prod" id="nome_prod">Nome do Produto</label><br>
        <input type="text" name="nome_prod" id="nome_prod"><br>
        
        <label for="quant_prod" id="quant_prod">Quantidade</label><br>
        <input type="number" name="quant_prod" ><br>
        
        <button type="submit">Registrar Produto</button>
            <br>
        <button type="submit">Buscar Registros</button>

        <footer><a href="menu.html" id="voltar">Voltar</a></footer>
    </form>
</body>
</html>