h1{
    font-size: 75px;
    text-align: center;
    background-color: blue;
}

body{
    background-color:black
}

h2{
    font-size: 50px;
    text-align: center;
}

form{
    text-align: center;
}


#nome{
    margin-bottom: 30px;
}

button{
    margin: 40px;    
}
