<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Exemplo de Banco de Dados</title>
</head>
<body>
    
    <h1>Sistema de Estoque</h1>

    <nav>
        <button id="addProd" class="nav">Adicionar Produto</button>
        <button id="rmvProd" class="nav">Remover Produto</button>
        <button id="editVal" class="nav">Editar Valor</button>
        <button id="editQtd" class="nav">Editar Quantidade</button>
    </nav>

    <div id="quadrado"></div>

    <button id="busProd">Buscar Produto </button>


    <script src="../static/script.js"></script>
</body>
</html>
