<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Exemplo de Banco de Dados</title>
</head>
<body>
    <h1>Dados da Tabela SQL</h1>
    <button class="button" id="buscar_dados">Buscar Dados</button>
    <div id="dados"></div>

    <h1>Adicionar Dados</h1>
    <form id="formulario">
        <input type="text" id="nome" placeholder="Nome">
        <input type="number" id="valor" placeholder="Valor">
        <input type="number" id="quantidade" placeholder="Quantidade">
        <button class="button" type="submit">Adicionar</button>
    </form>

    <h1>Editar Valor</h1>
    <form id="editar-formulario">
        <input type="text" id="editar-nome" placeholder="Nome do Produto">
        <input type="number" id="editar-valor" placeholder="Novo Valor">
        <button class="button" id="editar-button">Editar Dados</button>
    </form>

    <h1>Editar Quantidade</h1>
    <form id="adicionar-formulario">
        <input type="text" id="adicionar-nome" placeholder="Nome do Produto">
        <input type="number" id="adicionar-quantidade" placeholder="Nova Quantidade">
        <button class="button" id="adicionar-button">Editar Dados</button>
    </form>

    <div class="centered-buttons">
        <h1>Remover Dados</h1>
        <input type="text" id="produto-nome" placeholder="Nome do Produto">
        <button id="remover-button">Remover Dados</button>
    </div>

    <script>
        document.getElementById('buscar_dados').addEventListener('click', function() {
            fetch('/buscar_dados')
                .then(response => response.json())
                .then(data => {
                    let html = '<table border="1"><tr><th>PRODUTO</th><th>VALOR</th><th>QUANTIDADE</th></tr>';
                    data.forEach(item => {
                        html += `
                            <tr>
                                <td>${item.nome}</td>
                                <td>${item.valor}</td>
                                <td>${item.quantidade}</td>
                            </tr>
                        `;
                    });
                    html += '</table>';
                    document.getElementById('dados').innerHTML = html;
                });
        });


        document.getElementById('formulario').addEventListener('submit', function(event) {
            event.preventDefault();

            const nome = document.getElementById('nome').value;
            const valor = document.getElementById('valor').value;
            const quantidade = document.getElementById('quantidade').value

            fetch('/adicionar_dados', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nome, valor, quantidade })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            });

            document.getElementById('nome').value = '';
            document.getElementById('valor').value = '';
            document.getElementById('quantidade').value = '';
        });

        document.getElementById('remover-button').addEventListener('click', function() {
            const nomeProduto = document.getElementById('produto-nome').value;

            if (!nomeProduto) {
                alert('Por favor, insira o nome do produto.');
                return;
            }

            // Realiza uma solicitação DELETE quando o botão é clicado
            fetch('/remover_dados', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nome_produto: nomeProduto })
            })
            .then(response => {
                if (response.ok) {
                    alert('Dados removidos com sucesso!');
                } else {
                    alert('Erro ao remover dados!');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                
            });
        });

        document.getElementById('editar-button').addEventListener('click', function(event) {
        event.preventDefault();

        const nome = document.getElementById('editar-nome').value;
        const novoValor = document.getElementById('editar-valor').value;

        if (!nome || !novoValor) {
            alert('Por favor, preencha ambos os campos.');
            return;
        }

        fetch('/editar_valor', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nome, novoValor })
        })
        .then(response => {
            if (response.ok) {
                alert('Dados editados com sucesso!');
                document.getElementById('editar-nome').value = '';
                document.getElementById('editar-valor').value = '';
            } else {
                alert('Erro ao editar dados!');
            }
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    });


        document.getElementById('adicionar-button').addEventListener('click', function(event) {
            event.preventDefault();

            const nome = document.getElementById('adicionar-nome').value;
            const quantidade = document.getElementById('adicionar-quantidade').value;

            if (!nome || !quantidade) {
                alert('Por favor, preencha ambos os campos.');
                return;
            }

            fetch('/editar_quantidade', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nome, quantidade })
            })
            .then(response => {
                if (response.ok) {
                    alert('Dados editados com sucesso!');
                    document.getElementById('adicionar-nome').value = '';
                    document.getElementById('adicionar-quantidade').value = '';
                } else {
                    alert('Erro ao editar dados!');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        });
    </script>
</body>
</html>
